/* Navigation bar */

/* General 
.customNav {
  position: fixed;
  width: 100%;
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}*/
.navbar-brand img {
  padding-right: 15px;
  width: 100px;
}
.nav-item {
  margin: 0px 15px;
} */

/* Navigation dropdown menu */
.dropdown-menu {
  background: url("../Images/images.jfif");
  background-color: transparent !important;
  background-size: cover;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background: black;
}

/* Navigation links */
.customNav a {
  color: rgb(15, 14, 14) !important;
}
.navCTA {
  font-size: 15px;
}

/* Jumbotron */
.jumbotron {
    background-image: url(../Images/harley-davidson-breakout.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50;
}

.jumbotron h1 {
  color: white;
}
.jumbotron p {
  font-weight: bold;
  color: white;
}

.card container-fluid 

.btn {
  border-radius: 15px;
}

.btn:hover{
  box-shadow: 0px 2px 10px red;
  transform: scale(1.2);
}

/* Footer */
a {
    color: white;
  }
  .shfooter .collapse {
    display: inherit;
  }
  @media (max-width: 767px) {
    .shfooter ul {
      margin-bottom: 0;
    }
   
    .shfooter .collapse {
      display: none;
    }
   
    .shfooter .collapse.show {
      display: block;
    }
   
    .shfooter .title .fa-angle-up,
    .shfooter .title[aria-expanded="true"] .fa-angle-down {
      display: none;
    }
   
    .shfooter .title[aria-expanded="true"] .fa-angle-up {
      display: block;
    }
   
    .shfooter .navbar-toggler {
      display: inline-block;
      padding: 0;
    }
  }
   
  .resize {
    text-align: center;
  }
  .resize {
    margin-top: 3rem;
    font-size: 1.25rem;
  }
  /*RESIZESCREEN ANIMATION*/
  .fa-angle-double-right {
    animation: rightanime 1s linear infinite;
  }
   
  .fa-angle-double-left {
    animation: leftanime 1s linear infinite;
  }
  @keyframes rightanime {
    50% {
      transform: translateX(10px);
      opacity: 0.5;
    }
    100% {
      transform: translateX(10px);
      opacity: 0;
    }
  }
  @keyframes leftanime {
    50% {
      transform: translateX(-10px);
      opacity: 0.5;
    }
    100% {
      transform: translateX(-10px);
      opacity: 0;
    }
  }
   